html
{
	height: 100%;
}
body
{
	margin: 0;
	background-color: #222;
	background-size: 100% 100%;
	height: 100%;
}
#albumPic
{
	width: 512px;
	height: 512px;
	position: absolute;
	border-radius: 50%;
	z-index: -1;
}
#bottomBar
{
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 130px;
	background-color: rgba(0,0,0,0.8);;
	padding: 20px;
	box-sizing: border-box;
}
label
{
	color: #eeeeee;
}

#infoBox
{
	position: absolute;
	width: 97%
}
#time
{
	float: left;
}
#fraction
{
	float: right;
}
#info
{
	font-size: 50px;
}
#control
{
	font-size:50px;
}
#control span
{
	color: #eeeeee;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
}
#control span:hover
{
	color: #222;
}