html
{
	height: 100%;
}
body
{
	margin: 0;
	background-color: #222;
	background-size: 100% 100%;
	height: 100%;
	-webkit-user-select: none;
}
#spectrum
{
	position: absolute;
	left: 0;
	bottom: 130px;
	z-index: -1;
}
@-webkit-keyframes myfirst
{
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}
.revolve
{
	-webkit-animation:myfirst 60s infinite; 
	-webkit-animation-timing-function:linear;
}
.paused
{
	-webkit-animation-play-state:paused;
}
.running
{
	-webkit-animation-play-state:running;
}
#pic
{
	width: 512px;
	height: 512px;
	background-color: #2d2d2d; 
	border: #222 3px solid;
	border-radius: 50%;
}
#littleRing
{
	width: 80px;
	height: 80px;
	border: #850f04  5px solid;
	background-color: #9a1506; 
	border-radius: 50%;
}
#centerRing
{
	width: 20px;
	height: 20px;
	border: #850f04  5px solid;
	background-color: #2d2d2d; 
	border-radius: 50%;
}
.center
{
	position: absolute;
	left: 0; 
	top: 0; 
	right: 0; 
	bottom: 0;
	margin: auto;
}
#albumPic
{
	width: 300px;
	height: 300px;
	border: solid 10px;
	border-color: #1f1f1f;
	border-radius: 50%;
}
#bottomBar
{
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 130px;
	background-color: rgba(0,0,0,0.8);;
	padding: 20px;
	box-sizing: border-box;
}
label
{
	color: #eeeeee;
	font-family: "yahei-light";
	font-variant: small-caps;
	font-weight: 100;
}

#infoBox
{
	position: absolute;
	width: 97%
}
#time
{
	float: left;
}
#fraction
{
	float: right;
}
#changeMode
{
	float: right;
	cursor: pointer;
	font-size: 1.5em;
	padding: 0px 20px;
}
#changeMode:hover
{
	color: #fff;
}
#text
{
	margin: 2% auto;
	position: absolute;
	width: 100%;
	z-index: 1;
}
#info
{
	font-size: 50px;
}
.title
{
	font-size: 50px;
}
.artist
{
	font-size: 30px;
}
#control
{
	font-size:50px;
}
#control span
{
	color: #eeeeee;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
}
#control span:hover
{
	color: #222;
}