.switch
{
	width :100px;
	height: 23px;
	outline: white 1px solid;
	overflow: hidden;
	font-size: 1.2em;
	color: white;
	text-align: right;
}
.switchContent
{
	height: 23px;
	width: 200px;
	position: relative;
}
.switchContent:after{
	content: "";
	clear: both;
	display: block;
}
.switchContent label
{
	border-right: white 10px solid;
	padding: 0px 5px;
	margin-right: 5px;
	display: block;
	line-height: 23px;
	cursor: pointer;
	text-align: inherit !important;
	width: inherit !important;
	font-size: inherit !important;
}
.switchOnText
{
	width :100px;
	height: 23px;
	float: left;
	background-color: green;
}
.switchOffText
{
	width :100px;
	height: 23px;
	float: left;
	background-color: grey;
}
@-webkit-keyframes off
{
	from {left: 0px;}
	to {left: -100px;}
}
@-webkit-keyframes on
{
	from {left: -100px;}
	to {left: 0;}
}
.switchOn
{
	-webkit-animation: on 1s forwards;
}
.switchOff
{
	-webkit-animation: off 1s forwards;
}