::-webkit-scrollbar-track-piece{background-color:transparent;}
::-webkit-scrollbar{width:2px;}
::-webkit-scrollbar-thumb{background:#eeeeee;}
.popBox
{
	width: 40%;
	position: absolute;
	top: 20%;
	left: 0;
	right: 0;
	margin: auto;
	overflow:hidden;
	background-color: #41A868;
	color: white;
	font-size: 1.2em;
}
.pophead
{
	border-bottom : white 1px solid;
	margin: 0px 10px; 
}
.popBody
{
	max-height: 350px;
	overflow:hidden;
	border-bottom : white 1px solid;
	margin: 0px 10px;
	padding: 10px;
}
.popBody ul
{
	list-style-type: none;
}
.popBody:hover
{
	overflow: auto;
}
.closeBtn
{
	float: right;
	font-size: 1.5em;
	color: white;
	cursor: pointer;
}
.closeBtn:hover
{
	color: #000;
}
.popFooter
{
	padding: 5px;
}
.popFooter:after
{
	content: "";
	clear: both;
	display: block;
}