*
{
	box-sizing: border-box;
}
html,body
{
	height: 100vh;
	width: 100vw;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
#bg
{
	width: 100vw;
	height: 100vh;
	position: absolute;
}
.button
{
	background-color: transparent;
    border: none;
    cursor: pointer;
}
.button:focus
{
	outline: none;
}
.clearfix:after
{
	content: "";
	clear: both;
	display: block;
}
#content
{
	height: 100%;
	width: 100%;
	background-color: black;
	position: relative;
}
#menu
{
	position: fixed;
    top: 2.5vw;
    left: 2.5vw;
    background: none;
    border: none;
    color: white;
    outline: none;
    font-size: 2rem;
	z-index: 100;
	cursor: pointer;
	transition: all 1s;
}
#menu.close
{
	opacity: 0;
}
#left-side
{
	width: 370px;
	height: 100%;
	box-sizing: border-box;
	padding: 10px;
	background-color: #ccc;
	position: absolute;
	top: 0px;
	left: -370px;
	transition: all 0.5s;
	z-index: 1;
	background-color: rgba(242,56,91,0.8);
	color: white;
}
#left-side.open
{
	left: 0px;
	z-index: 101;
}
#center
{
	width: 100%;
    /*height: calc(100% - 70px);*/
    height: 100vh;
    background-color: rgba(0,255,255,0.1);
    position: relative;
}
#song-info
{
	color: white;
	font-size: 2rem;
	position: absolute;
    top: 2.5vw;
	right: 2.5vw;
}
#song-info>label
{
	display: block;
	text-align: right;
}
@-webkit-keyframes coverRun
{
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}
.revolve
{
	-webkit-animation:coverRun 60s infinite; 
	-webkit-animation-timing-function:linear;
}
.paused
{
	-webkit-animation-play-state:paused;
}
.running
{
	-webkit-animation-play-state:running;
}
#cover
{
	width: 280px;
	height: 280px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	box-shadow : 0px 0px 0px 10px #1f1f1f,
				 0px 0px 0px 117px #2d2d2d,
				 0px 0px 0px 120px #222;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: #ccc;
}
#cover:after
{
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	background-color: #333;
	border-radius: 50%;
	box-shadow : 0px 0px 0px 5px #850f04,
				 0px 0px 0px 30px #9a1506,
				 0px 0px 0px 35px #850f04;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
#bottom
{
	/*display: flex;
	flex-wrap: wrap;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 130px;
	background-color: rgba(0,0,0,0.1);
	padding: 10px;
	box-sizing: border-box;*/


	display: flex;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 70px;
    justify-content: center;
    align-items: center;
}
#prograss
{
	/*width: 100%;
	height: 20px;
	align-self: flex-start;
	display: flex;*/
	width: 95vw;
    height: 20px;
    position: absolute;
    left: 2.5vw;
    top: 0px;
}
#prograss>.prograss-outside
{
	width: 100%;
	height: 15px;
	align-self: center;
	background-color: rgba(0,0,0,0.1);
	border-radius: 10px;
}
#prograss>.prograss-outside>.prograss-inside
{
	height: 100%;
	width: 0%;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.2);;
	display: flex;
	justify-content : flex-end;
}
#prograss>.prograss-outside>.prograss-inside>.ctrl-point
{
	display: block;
	width: 15px;
	height: 15px;
	background-color: black;
	position: relative;
	/*display: flex;
	justify-content:center;
	align-items : center;*/
}
#prograss>.prograss-outside>.prograss-inside>.ctrl-point:after
{
	content: "";
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	top: -2.5px;
	left: -2.5px;
	border-radius: 50%;
	background-color: white;
	/*align-self : center;*/
}
#status-info
{
	/*display: flex;
	color: white;
	width: 100%;
	align-self: flex-end;*/

	color: white;
	width: 95vw;
	position: absolute;
	left: 2.5vw;
	bottom: 20px;
	display: flex;
	align-self: flex-end;
}
#status-info>label
{
	flex: 1;
}
#status-info>label:nth-of-type(1)
{
	text-align: left;
}
#status-info>label:nth-of-type(2)
{
	text-align: right;
}
#control
{
	/*display: flex;
	justify-content:center;
	align-self: center;
	width: 100%;*/

	display: flex;
    align-items: center;
    width: 100vw;
    height: 80px;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}
#control>button
{
	color: white;
	font-size: 3rem;
	width: 60px;
	text-align: center;
	position: absolute;
	display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
	right: 0px;
    top: 0px;
    bottom: 0px;
	opacity: 0;
	transition: all 0.5s;
}
#playBtn
{
    left: calc(50vw - 30px);
}
#prevBtn
{
	left: calc(50vw - 300px);
}
#nextBtn
{
	left: calc(50vw + 300px - 60px);
}
#control:hover >button
{
	opacity: 1;
}
#control:hover>#prevBtn
{
    left: calc(50vw - 350px);
}
#control:hover>#nextBtn
{
	left: calc(50vw + 350px - 60px);
}
.item
{
	margin-bottom: 10px;
}
#item-set
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
#searchInput
{
	border:none;
	outline: none;
	padding: 0px;
	margin: 0px;
	height: 40px;
	width: 100%;
	font-size: 2rem;
	text-align: center;
	color: white;
	background-color: rgba(0,0,0,0.2);
}
#add-file
{
	/*margin-top: 10px;*/
}
#file-wrap
{
	width: 100%;
	height: 40px;
	overflow: hidden;
	outline: rgba(0,0,0,0.2) 2px solid;
	position: relative;
	text-align: center;
	color: white;
	font-size: 2rem;
	transition: all 0.5s;
}
#file-wrap:hover
{
	outline-color: rgba(255,255,255,0.2);
	background-color: rgba(0,0,0,0.2);
}
#fileInput
{
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
	position: absolute;
	top: 0px;
	left: 0px;
}
#file-tip
{
	display: flex;
	justify-content:center;
	align-items : center;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#file-tip>div
{
	display: flex;
	justify-content:center;
	align-items : center;
	transition: all 0.5s;
	max-width: 0px;
	height: 100%;
	overflow: hidden;
}
#file-tip>div>label
{
	white-space: nowrap;
	font-size: 1.8rem;
	padding-left: 10px;
	padding-right: 10px;
}
#file-tip>div.show, #file-wrap:hover #click-add
{
	max-width: 100%;
}
#file-list
{
	/*transition: all 0.5s;*/
	outline: rgba(0,0,0,0.2) 2px solid;
}
/*#file-list:hover
{
	outline-color: rgba(255,255,255,0.2);
	background-color: rgba(0,0,0,0.2);
}*/
#file-list>header
{
	text-align: center;
	font-size: 2rem;
	cursor: pointer;
}
#list
{
	padding: 0px;
	transition: all 0.5s;
	max-height: 0px;
	overflow-y: auto;
	overflow-x: hidden;
}
#list>li
{
	white-space: nowrap;
	font-size: 1rem;
	line-height: 2.5rem;
	box-sizing: border-box;
	font-weight: lighter;
	cursor: pointer;
	max-height: 100px;
	overflow: hidden;
	transition: all 1s;
}
#list>li::before
{
	content: attr(data-item-index);
    padding-right: 10px;
    padding-left: 5px;
    border-left: transparent 5px solid;
    margin-left: 10px;
}
#list>li.playing::before
{
	border-color: greenyellow;
}
#list>li.selected
{
	background-color: rgba(0,0,0,0.2);
}
#list>li.hide
{
	max-height: 0px;
}
#list::-webkit-scrollbar-track-piece{background-color:transparent;}
#list::-webkit-scrollbar{width:2px;}
#list::-webkit-scrollbar-thumb{background:#eeeeee;}
#file-list.open>#list
{
	max-height: 70vh;
}
#list-menu
{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 0px;
	overflow: hidden;
	transition: height 0.1s;
}
#list-menu.show
{
	height: 104px;
}
#list-menu>ul
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	width: 75px;
	background-color: rgba(0,0,0,0.9);
	padding: 5px;

}
#list-menu>ul>li
{
	padding: 10px;
	text-align: center;
	font-size: 1.3rem;
	font-weight: lighter;
	height: 50%;
	width: 100%;
	box-sizing: border-box;
	cursor: pointer;
}
#list-menu>ul>li:hover
{
	background-color: rgba(255,255,255,0.2);
}